<header>

<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
   
<ul class="nav">
  <li>{{ site.title }}</li>
  <li><a href="/"><span style="color:#ffffff;text-decoration: underline;cursor:pointer; text-shadow: 1px 1px 2px #000000;">/index</span></a></li>
  <li><a href="/archive"><span style="color:rgb(255, 225, 249);text-decoration: underline;cursor:pointer; text-shadow: 1px 1px 2px #000000;">/gallery</span></a></li>
  <li><a href="/my-blob"><span style="color:rgb(221, 225, 208);text-decoration: underline;cursor:pointer; text-shadow: 1px 1px 2px #000000;">/blog</span></a></li>
  <li><a href="/shop"><span style="color:rgb(229, 255, 98);text-decoration: underline;cursor:pointer; text-shadow: 1px 1px 2px #000000;">/shop 🛍️</span></a></li>
</ul>

</header>