<header>

  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png?v=1">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">


  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#ff0000">
  <meta name="msapplication-TileColor" content="#c1c1c1">
  <meta name="theme-color" content="#ffffff">
   
<ul class="nav">
  <li>{{ site.title }}</li>
  <li><a href="/"><span style="color:#ffffff;text-decoration: underline; text-shadow: 1px 1px 2px #000000;">/index</span></a></li>
  <li><a href="/archive"><span style="color:rgb(255, 225, 249);text-decoration: underline; text-shadow: 1px 1px 2px #000000;">/gallery</span></a></li>
  <li><a href="/my-blob"><span style="color:rgb(221, 225, 208);text-decoration: underline; text-shadow: 1px 1px 2px #000000;">/blog</span></a></li>
  <li><a href="/shop"><span style="color:rgb(229, 255, 98);text-decoration: underline; text-shadow: 1px 1px 2px #000000;">/shop 🛍️</span></a></li>
</ul>

</header>