body {
    background-color: white;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 0px;
    margin-top: 23px;
    cursor: url(/assets/color-pixels-shining-red-cursor.png), default;
}
@media only screen and (max-width: 600px) { body { margin-top: 110px; font-size: 16px; } }

@media only screen and (max-width: 600px) { img { max-width: 100%;} }

p{
  font-size: 18px;
}

h2{
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) { h2 { font-size: 25px;} }

li:hover {
  color: rgb(0, 255, 38);
}

a {
  cursor: url(/assets/color-pixels-shining-red-pointer.png), default;
}

a:hover {
  background-color: rgb(255, 0, 242);
}

article a{
  background-color: rgba(255, 255, 153, 0.833);
  font-family: cursive;
}

@media only screen and (max-width: 600px) { article { text-align: center; font-size: 16px;} }

.blogtitles {
  margin-left: -40px;
}

.nav{
  list-style: none;
  padding:0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) { .nav { background-color: blue; background: -webkit-linear-gradient(0deg,rgba(178, 178, 178, 0.289), rgb(255, 0, 0)); top: 0px; } }

.nav li {
    display:inline;
}

@media only screen and (max-width: 600px) { .nav li { text-align: right; display:list-item;} }


.poem {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.poem img {
  width:max-content;
  height: auto;
  border-radius: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dotted border */
hr.dotted {
  border: 0;
  border-top: 4px dotted rgb(0, 0, 0);
}
