body {
    background-color: rgb(255, 255, 255);
  }
  
  img {
    padding: 0px;
    width: 580px;
  }
  
  @media only screen and (max-width: 600px) { img { max-width: 100%; height: auto; } }
  
  p{
  font-family: Courier New, monospace;
  font-size: 14px;
  color: rgb(254, 1, 1);
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(254, 1, 1);
    background-color: transparent;
    text-decoration: underline;
  }

.text {
  font-family: Courier New, monospace;
  font-size: 14px;
  color: rgb(254, 1, 1);
  

}

/**--------------------------CSS for paintings room-----dear-sweetheart page--------------------**/

.poster1{
  position: absolute;
  z-index: -3;
  top: 140px;
  left: 110px;
  width: auto;
  height: auto;
  transform: rotate(-25deg);
}

.poster1 img { width: 70%; height: auto; }

.poster1:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

@media only screen and (max-width: 600px) { .poster1 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .poster1 img { width: 100%; height: auto; } }

.poster2{
  position: absolute;
  z-index: -2;
  top: 130px;
  left: 180px;
  width: auto;
  height: auto;
  transform: rotate(-15deg); 
}

.poster2:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

.poster2 img { width: 70%; height: auto; }

@media only screen and (max-width: 600px) { .poster2 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .poster2 img { width: 100%; height: auto; } }

.poster3{
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 270px;
  width: auto;
  height: auto;
  transform: rotate(-2deg); 
}

.poster3:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

.poster3 img { width: 70%; height: auto; }

@media only screen and (max-width: 600px) { .poster3 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .poster3 img { width: 100%; height: auto; } }

.poster4{
  position: absolute;
  z-index: 0;
  top: 170px;
  left: 340px;
  width: auto;
  height: auto;
  transform: rotate(10deg); 
}

.poster4 img { width: 70%; height: auto; }

.poster4:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

@media only screen and (max-width: 600px) { .poster4 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .poster4 img { width: 100%; height: auto; } }

/**--------------------------CSS for stills room-----dear-sweetheart/lookbook page--------------------**/

.still1{
  position: absolute;
  z-index: -3;
  top: 140px;
  left: 110px;
  width: auto;
  height: auto;
  transform: rotate(-25deg);
}

.still1 img { width: 60%; height: auto; }

.still1:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

@media only screen and (max-width: 600px) { .still1 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .still1 img { width: 100%; height: auto; } }

.still2{
  position: absolute;
  z-index: -2;
  top: 130px;
  left: 180px;
  width: auto;
  height: auto;
  transform: rotate(-15deg); 
}

.still2:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

.still2 img { width: 60%; height: auto; }

@media only screen and (max-width: 600px) { .still2 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .still2 img { width: 100%; height: auto; } }

.still3{
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 270px;
  width: auto;
  height: auto;
  transform: rotate(-2deg); 
}

.still3:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

.still3 img { width: 60%; height: auto; }

@media only screen and (max-width: 600px) { .still3 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .still3 img { width: 100%; height: auto; } }

.still4{
  position: absolute;
  z-index: 0;
  top: 170px;
  left: 340px;
  width: auto;
  height: auto;
  transform: rotate(10deg); 
}

.still4 img { width: 60%; height: auto; }

.still4:hover{
  z-index: 1000;
  -webkit-filter: drop-shadow(5px 5px 5px);
}

@media only screen and (max-width: 600px) { .still4 { position: relative; top: 0px; width: 100%; height: auto; left: 0px; transform:rotate(0deg); } }
@media only screen and (max-width: 600px) { .still4 img { width: 100%; height: auto; } }