html {
	--mobile-scale: 1;
	--mobile-padding-offset: 0.37;
}

body {
	--swatch-1: #C398FF;
	--swatch-2: #322113;
  --swatch-3: #B4FFB2;
  --swatch-4: #FFE20A;
  --swatch-5: #051F07;
  --swatch-6: #FDFFB4;
  --swatch-7: #FFDFFA;
  --swatch-7: #FF00E5;
  --swatch-7: #FF9A9C;
  --swatch-7: #BACEFF;
  height:100%;
	background-color: #171717;
}

* {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

.leftcolumn {   
  float: left;
  width: 75%;
  height: 100vh;
  overflow: scroll;
}

.rightcolumn {
  background-color: #C398FF;;
  float: left;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  height: 100vh;
  overflow: scroll;
}

/* Add a card effect for articles */
.card {
   padding: 5px;
   margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border: 1px solid rgb(0, 0, 0);
}

.header {
  position: sticky;
  top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  overflow: hidden;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  background: #171717;
}

.header p {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Pixelify Sans', sans-serif;
	line-height: 1.2;
	display: block;
  margin: 0rem;
}

.rightheader {
  position: sticky;
  top: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  background: #171717;
}

.rightheader p {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Pixelify Sans', sans-serif;
	line-height: 1.2;
	display: block;
  margin: 0rem;
}

.footer {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 100px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  background: #171717;
}

.footer p {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Pixelify Sans', sans-serif;
	line-height: 1.2;
	display: block;
  margin: 0rem;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

ol {
	margin: 0;
	padding: 0 0 0 2.5em;
	list-style-type: decimal-leading-zero;
}

ul {
	margin: 0;
	padding: 0 0 0 2.0em;
}

ul.lineated {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin: 0 0 0 3em;
	text-indent: -3em;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgb(255, 255, 255);
	border: 0;
	height: 1px;
	display: block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

p {
	font-size: 2rem;
	font-weight: 400;
	color: #ffffff;
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	line-height: 1;
	display: block;
}

p a {
	color: #B4FFB2;
	border-bottom: 0px solid rgba(127, 127, 127, 0.2);
	text-decoration: underline;
}

p a:hover {
}

h1 {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 700;
	margin: 0;
	font-size: 5rem;
	line-height: 1;
	color: #ffffff;
}

h1 a {
	color: #B4FFB2;
	text-decoration: underline;
}

h1 a:hover {
}

h2 {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 700;
	margin: 0;
	color: #ffffff;
	font-size: 3rem;
	line-height: 1.1;
}

h2 a {
	color: #B4FFB2;
	text-decoration: underline;
}

h2 a:hover {
}

figcaption {
	font-size: 1rem;
	font-weight: 300;
	color: #000000;
	font-family: 'Pixelify Sans', sans-serif;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	display: block;
}

figcaption a {
	text-decoration: underline;
	color: #B4FFB2;
}

figcaption a:hover {
}
